<div class="main">
    <%= link_to listings_path do %>
        <div class="btn-main">내집찾으러가기</div>
    <% end %>
</div>

<div class="container">
    <section>
        <h1>Hoses available to view in: Location</h1>
        <div class="cards">
            <div class="card">
                <div class="card-title">3-bed in greenery</div>
            </div>
        </div>

    </section>
</div>