


<div class="row">
  <div class="col-sm-6">
    <h1>Carts</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_cart_path, class: 'btn btn-primary' do %>
    Add New Cart
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @carts.each do |cart| %>
        <%= content_tag :tr, id: dom_id(cart), class: dom_class(cart) do %>
          

          
          
            <td><%= link_to 'Show', cart %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
