<section>
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure?"}%>
    </div>
    <div class="column">
      <h4>
        <span>Total:</span><%= number_to_currency(@cart.total_price)%>
      </h4>
    </div>
  </div>
</section>