<div class="page-header">
  <%= link_to carts_path, class: 'btn btn-default' do %>
    All Carts
  <% end %>
  <%= link_to edit_cart_path(@cart), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show cart</h1>
</div>

<dl class="dl-horizontal">
</dl>
