
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

body {
  font-family: 'Bodoni Moda', serif;
}
// home: index

.hero-image {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;
}
// .hero-text {
//   color: white;
//   position: absolute;
//   top: 16%;
// }