
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
// Fixes bootstrap nav-brand container overlap

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

body {
  font-family: 'Bodoni Moda', serif;
  margin-bottom: 0;
  height: 100vh;
}

a:hover {
  text-decoration: none
}
// home: index
.main {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
  background-size: cover;
  height: 60%;
  display: flex;  
  justify-content: center;  
  align-items: center;  
}
.btn-main {
  margin: 160px auto 0 auto;
  padding: 16px;
  background-color: grey;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 32px;
}
.card {
  border: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  min-height: 100px;
  padding: 16px 16px;
  border-radius: 8px;
}
